<br>
<div class="container" id="search" style="text-align:center">
  <h3>Suggestions</h3>
  <!--<div class="input-group">
    <textarea class="form-control" aria-label="With textarea"></textarea>
    <div class="input-group-prepend">
      <span class="input-group-text">
        <label>Suggestions</label>
      </span>
    </div>
  </div>-->
  <div class="warnings">
    <div>
      <div class="content">
        <form name="contactForm" novalidate>
            <input type="text" placeholder="Name" name="name" ng-model="contact.name" ng-required="true"/>
            <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
                <small style="color: red;display: block;text-align: center;">Enter a valid name</small>
            </div>
            <input type="email" placeholder="Email" name="email" ng-model="contact.email" ng-required="true"/>
            <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
                    <small style="color: red;display: block;text-align: center;">Enter a valid name</small>
            </div>
            <textarea placeholder="Your message" name="message" ng-model="contact.message" ng-required="true"></textarea>
        </form>
    </div>
    
      <button type="button" class="btn btn-dark active" (click)="feedback()">Send Response</button>
    </div>
    <br>
    <button type="button" class="btn btn-dark active" (click)="deleteData()">Delete Tracked Data</button>
    <button type="button" class="btn btn-dark active" (click)="deleteAccount()">Delete Account</button>
  </div>
</div>