<p style="margin-top: 3%"></p>
<span class="agile-login">
  <div class="wrapper">
    <h3>SIGN UP</h3>
    <div class="w3ls-form" id="signup-form">
      <form (ngSubmit)="sendReq(fulln.value,emailadd.value,pass1.value,pass2.value)">
        <label>Full Name</label>
        <input type="text" #fulln placeholder="Name" required minlength="4" />
        <label>Email Address</label>
        <input type="text" #emailadd placeholder="Email" required/>
        <label>Password</label>
        <input type="password" #pass1 placeholder="Password" required minlength="4" />
        <label>Confirm Password</label>
        <input type="password" #pass2 placeholder="Confirm Password" required/>
        <a routerLink="/login" routerLinkActive="active" class="pass">Already Registered ?</a>
        <input type="submit" value="Register" />
      </form>
    </div>
  </div>
</span>
