<br>
<br>
<div class="container" style="text-align:center; position:relative; margin-bottom:50px;">
    <h2>WatchTime</h2>
    <br>
    <span>
        <img src="/assets/logo.png">
        <br>
        <img src="/assets/mean.png" width="240px">
    </span>
    <br>
    <br>
    <h2>Developers</h2>
    <span>
        <h4>
            <a href="/" id="name_dev" target="_blank" style="text-decoration: none; color: white">Vishnu Charan</a>
        </h4>
        <h4>
            <a href="/" id="name_dev" target="_blank" style="text-decoration: none; color: white;">Vishruth L</a>
        </h4>
        <h4>
            <a href="/" id="name_dev" target="_blank" style="text-decoration: none; color: white;">Aditya Verma</a>
        </h4>
    </span>
</div>