<br>
<br>
<div class="container" style="text-align:center; position:relative; margin-bottom:50px;">
    <h2>About Haxèr</h2>
    <br>
    <span>
        <img src="/assets/haxer.png">
        <br>
        <img src="/assets/mean.png" width="240px">
    </span>
    <br>
    <br>
    <h2>Developer Info</h2>
    <span>
        <h4>
            <a href="https://about.me/sanjothshaw" id="name_dev" target="_blank" style="text-decoration: none; color: black;">Sanjoth Shaw</a>
        </h4>
        <a href="https://www.linkedin.com/in/sanjoth" target="_blank">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a> 
        <a href="https://github.com/sanjoth" target="_blank">
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
        </a> 
        <a href="mailto:sanjothshaw@gmail.com">
            <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </span>
</div>