input {
    display: inline-block;
    position: relative;
}

.dropdown-menu a,.dropdown-menu a:active,.dropdown-menu a:focus,.dropdown-menu a:link{
    text-decoration: none;
    background-color: inherit;
}

.form-check-label {
    color: white !important;
}
label {
    color:black;
    font-size: 14px;
    margin: 0px;
}

#listbox {
    width: 155px;
    text-align: center;
    
}

#before, #after {
    max-width: 90%;
}

input {
    background-color: #f0f2f4 !important;
border-color:#f0f2f4 !important;
}


.input-group-text {
background-color: #f0f2f4 !important;
border-color:#f0f2f4 !important;
}

#lang {
    border-width: inherit;
    width: 155px;
}

#haxthedb {
    z-index: 0;
}


.btn-group {
    margin-top: 10px;
    margin-left: 5px;
}

.form-control {
    max-width: 100%;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  table
  { 
  margin-left: auto;
  margin-right: auto;
  }

  .links a {
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    padding: 8px 16px;
    color: grey;
}

.links .netflix a:hover {
    background-color:  #ddd;
    color: black;
}

  /*  Material Card */
  .example-card {
    width: 400px; 
    font-family: 'Source Sans Pro', sans-serif;
  }

.previous {
    background-color: #e9ecef;
    color: black;
    display: inline-block;
    padding: 8px 16px;
}

.next {
    background-color:#e9ecef;
    color: black;
    display: inline-block;
    padding: 8px 16px;
}

.previous:hover {
    background-color: grey;
}

.next:hover {
    background-color: grey;
}

.form-check.form-check-inline label {
    font-size: 16px;
}

.form-check-input:checked {
    background-color: black;
}

#lang {
    border-left: none;
    border-top: none;
    width: 155px !important;
}

.btn.btn-light.active,.btn.btn-light.active {
    color: black !important;
}
 a.netflix:hover{
    background-color: #E50914;
    color: black;
  } 
a.prime:hover{
    background-color: #00a8e1;
    color: black;
  }